@import 'variables';

.m-time {
  color: @color-white;
  padding-top: 50px;

  .showtime {
    text-align: center;
    margin-bottom: 20px;
  }

  .separater {
    display: inline-block;
    font-size: 32px;
    font-weight: bold;
    color: @color-blue;
    width: 32px;
    height: 65px;
    line-height: 65px;
    text-align: center;
  }

  .time-text {
    position: relative;
    left: -10px;
    font-size: 15px;
    color: @color-blue;
    margin-top: 7px;
    margin-bottom: 10px;
  }

  .sliders {
    padding: 0 10px;
  }

  .time {
    width: 64px;
    height: 64px;
    display: inline-block;
    font-size: 38px;
    line-height: 64px;
    background-color: @color-blue;
    border-radius: 3px;
    text-align: center;
  }
  .ampm {
    width: 64px;
    height: 64px;
    display: inline-block;
    > span {
      color: black;
      display: block;
      width: 64px;

      height: 32px;
      font-size: 18px;
      line-height: 32px;
    }
    > .active {
      color: white;
      background-color: @color-blue;
      border-radius: 3px;
    }
  }
}
